packages:
  yum:
    gcc: []
    libstdc++-devel: []
    gcc-c++: []
    fuse: []
    fuse-devel: []
    libcurl: []
    libxml2-devel: []
    openssl-devel: []
    mailcap: []
    automake: []
sources:
  /home/ec2-user/: https://github.com/s3fs-fuse/s3fs-fuse/archive/master.tar.gz
files:
  "/etc/fuse.conf" :
    owner: root
    group: root
    content: |
      # mount_max = 1000
      user_allow_other
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_unmount_s3fs.sh" :
    mode: "000744"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      php $EB_CONFIG_APP_ONDECK/s3fs/unmount-all-s3fs.php
commands:
  do_autogen:
    command: sh autogen.sh
    cwd: /home/ec2-user/s3fs-fuse-master
  configure_s3fs:
    command: ./configure --prefix=/usr
    cwd: /home/ec2-user/s3fs-fuse-master
  make_s3fs:
    command: make
    cwd: /home/ec2-user/s3fs-fuse-master
  install_s3fs:
    command: make install
    cwd: /home/ec2-user/s3fs-fuse-master
container_commands:
  credentials:
    command: php /var/app/ondeck/s3fs/create-s3fs-credentials-file.php
  mount_s3fs:
    command: php /var/app/ondeck/s3fs/mount-s3fs-folders.php
