packages:
  yum:
    git: []
    gcc: []
    libstdc++-devel: []
    gcc-c++: []
    fuse: []
    fuse-devel: []
    libcurl: []
    libxml2-devel: []
    openssl-devel: []
    mailcap: []
    automake: []
sources:
  /home/ec2-user: https://github.com/s3fs-fuse/s3fs-fuse/archive/master.zip
commands:
  02-do_autogen:
    command: sh autogen.sh
    cwd: /home/ec2-user/s3fs-fuse-master
  03-configure_s3fs:
    command: ./configure
    cwd: /home/ec2-user/s3fs-fuse-master
  04-make_s3fs:
    command: make
    cwd: /home/ec2-user/s3fs-fuse-master
  05-install_s3fs:
    command: make install
    cwd: /home/ec2-user/s3fs-fuse-master
  06-unmount:
    command: umount /var/app/current/moodledata || /bin/true
    cwd: /home/ec2-user/
files:
  "/etc/fuse.conf" :
    owner: root
    group: root
    content: |
      # mount_max = 1000
      user_allow_other
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_unmount_s3fs.sh" :
    mode: "000744"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      EB_CONFIG_APP_ONDECK=$(/opt/elasticbeanstalk/bin/get-config container -k 'app_staging_dir')
      if [ -f $EB_CONFIG_APP_ONDECK/s3fs/unmount-all-s3fs.php ]
        then
          php $EB_CONFIG_APP_ONDECK/s3fs/unmount-all-s3fs.php
        else
          echo "Unable to Find: $EB_CONFIG_APP_ONDECK/s3fs/unmount-all-s3fs.php."
      fi
container_commands:
  credentials:
    command: php /var/app/ondeck/s3fs/create-s3fs-credentials-file.php
  mount_s3fs:
    command: php /var/app/ondeck/s3fs/mount-s3fs-folders.php
